# Core ML/Data Libraries
numpy==1.26.4
pandas==2.1.0
scikit-learn==1.3.0


# Computer Vision and Image Processing
opencv-python==4.12.0.88
mediapipe==0.10.14
Pillow==9.5.0
rawpy==0.25.1

tensorflow==2.13.0

# Web Application/API
streamlit      # Good for quick prototyping and demonstration
flask            # Good for building a REST API


# Color Science
colour-science==0.4.4



